<form action="/users/create" method="post">
	<input name="username">
	<input name="email">
	<input name="password">
	<textarea name="bio"></textarea>
	<input type="checkbox" name="is_private" value="true">Do you want your profile to be private?
	<input type="submit">
</form>