<form action="/users/create" method="post">
	<input name="username" placeholder="username">
	<input name="email" placeholder="email">
	<input type="password" name="password" placeholder="password">
	<textarea name="bio" placeholder="Bio"></textarea>
	<input type="checkbox" name="is_private" value="true">Make my Ribbiting private
	<input type="submit">
</form>